body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  line-height: 1.7;
  background-color: #000000;
}

* {
  outline: none;
}

*:not(.slick-track):not(.slick-list) {
  transition: 0.4s;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(36px, 2.5vw, 48px);
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 1rem;
  line-height: 1.2;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(20px, 2.5vw, 28px);
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 1.2;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(14px, 2.5vw, 16px);
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 1.2;
}

/* h1 th */
h4 {
  font-family: "Prompt", sans-serif;
  font-size: clamp(36px, 2.5vw, 48px);
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 1rem;
  line-height: 1.2;
  font-style: normal;
}

/* h2th */
h5 {
  font-family: "Prompt", sans-serif;
  font-size: clamp(20px, 2.5vw, 28px);
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 1.2;
  font-style: normal;
}

/* h3th */
h6 {
  font-family: "Prompt", sans-serif;
  font-size: clamp(14px, 2.5vw, 16px);
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 1.2;
  font-style: normal;
}

/* end: global styles */

/* start: header styles */
#header-hero-container {
  min-height: 600px;
  height: calc(100vh);
  position: relative;
}

#flex-header {
  justify-content: end;
}

header {
  background: #000000;
  padding: 1rem 0;
  border-bottom: 1px tra;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.hamburger-menu {
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 3px 5px;
  width: 30px;
  cursor: pointer;
  margin-top: 10px;
  display: none;
}

.hamburger-menu .strip {
  display: block;
  height: 1px;
  background-color: #000000;
  margin: 4px 0;
}

header ul {
  list-style-type: none;
}

header ul li {
  display: inline-block;
  margin: 0 15px;
}

#close-flyout {
  display: none;
}

/* end: header styles */

/* start: hero section styles */
#hero {
  background: url("asset/header.png") center center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
}

#hero .hero-text {
  position: absolute;
  top: 50%;
  margin: -75px auto 0;
  left: 0;
  right: 0;
  z-index: 2;
  color: #fff;
  width: 500px;
  text-align: center;
}

#hero .hero-text p {
  line-height: 1.5em;
  font-weight: 300;
  font-size: 1rem;
}
/* end: hero section styles */

/* start: properties styles */
#properties {
  margin: 4rem 0 8rem;
  position: relative;
}

#properties-slider a.slick-prev {
  right: 80px;
}

#properties-slider .slick-slide {
  padding: 0 15px;
}

#properties-slider img {
  width: 100%;
  display: block;
}

#propertiestext {
  margin-bottom: 20px;
}

/* end: properties styles */

/* start: animal styles */
#animal {
  padding: 20px 20px 20px;
  justify-content: center;
  margin-bottom: 50px;
}

#animal .flex {
  flex-wrap: wrap;
  padding: 30px;
}

#animal .card {
  width: 25%;
  margin-bottom: 10px;
  text-align: center;
  padding: 30px;
}

#animal .card img {
  width: 100%;
  margin-bottom: 20px;
}

/* end: animal styles */

/* quiz */
#quiz {
  margin-bottom: 200px;
}

#quiztext {
  margin-bottom: 20px;
}

/* start: footer styles */
footer {
  background-image: url("asset/bgfooter.png");
  padding: 8rem 0;
}

footer .flex {
  padding-bottom: 6rem;
}

footer .footer-about {
  width: 47%;
}

footer .footer-about p {
  width: 65%;
}

#aboutustext {
  margin-bottom: 20px;
}

footer .footer-follow {
  width: 35%;
}

#subscribe-container {
  position: relative;
}

footer .footer-follow ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer .footer-follow ul li {
  display: inline-block;
  margin: 0 16px;
}

.container-btn {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
}

#ig {
  margin-right: 50px;
}

/* end: footer styles */

/* start: media queries */
@media (max-width: 991px) {
  #logo {
    top: 1px;
  }

  #nav-toggle {
    display: block;
  }

  nav ul {
    position: fixed;
    background: #000000;
    right: -100%;
    top: 0;
    margin: 0;
    padding: 2rem;
    height: 100%;
    width: 300px;
    box-sizing: border-box;
    box-shadow: 5px 0 10px 3px #999;
  }

  #close-flyout {
    position: absolute;
    right: 2rem;
    top: 1.5rem;
    font-size: 30px;
    color: #777;
    cursor: pointer;
    display: block;
    line-height: 1;
    margin: 0;
  }

  nav ul li {
    display: block;
    margin: 20px 0;
  }

  nav ul li:first-child {
    margin-top: 50px;
  }
  nav ul li a {
    font-size: 20px;
    color: #ffffff;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  .large-paragraph {
    font-size: 1rem;
  }

  .container {
    max-width: 540px;
  }

  #hero .hero-text {
    width: 400px;
  }

  #animal .card {
    width: 49%;
  }

  #contact .flex {
    flex-wrap: wrap;
  }

  #form-container {
    width: 100%;
    padding: 2rem;
  }

  footer {
    padding: 6rem 0;
  }

  footer .flex {
    flex-wrap: wrap;
  }

  footer .flex > div {
    width: 100%;
    margin-top: 1rem;
  }

  footer .flex > div:first-child {
    margin-top: 0;
  }

  footer .footer-about p {
    font-size: 1rem;
    width: 100%;
  }

  footer h5.follow-us {
    margin-top: 2rem;
  }
}

@media (max-width: 500px) {
  #hero .hero-text {
    width: 330px;
  }

  #animal {
    margin: 4rem 0 3rem;
    padding: 0 0 3rem;
  }

  #animal .card {
    width: 100%;
  }

  #animal p.large-paragraph {
    width: 100%;
  }

  footer {
    padding: 4rem 0;
  }
}

@media (max-width: 400px) {
  #hero .hero-text {
    max-width: 275px;
    width: 100%;
  }

  #properties button.rounded {
    max-width: 250px;
    width: 100%;
  }

  nav ul {
    width: 200px;
  }
}

/* animal page */
.backbtn {
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  padding: 20px;
  text-decoration: none;
  z-index: 1000;
}

#hero-animal {
  background: url("asset/jellyfishindex.png") center center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.group-animal {
  position: relative;
  flex-direction: column;
  justify-content: start;

  top: 30%;
  margin-left: 50px;
  margin-right: 100px;
}

#animal-text {
  margin-bottom: 40px;
}

#explain {
  margin-bottom: 40px;
}

.buttonstart {
  cursor: pointer;
  text-align: center;
  justify-content: center;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding-top: 10px;
  width: 120px;
  height: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button:hover {
  background-color: white;
}

.button:hover h3 {
  color: black;
}

.buttoncms {
  cursor: pointer;
  text-align: center;
  justify-content: center;
  border: 2px solid white;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}
